
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Current Balance</strong></td>
      <td><strong>Starting Balance</strong></td>
      <td><strong>Lifetime Percent Yield</strong></td>
    </tr>
    <tr>

      <td><%= @portfolio.current %></td>
      <td><%= @portfolio.starting %></td>
      <td><%= @portfolio.yield %></td>
    </tr>
  </tbody>
</table>
<br>

<h2>Open Positions</h2>

    
<table class="table">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Stock Name</strong></td>
      <td><strong>Symbol</strong></td>
      <td><strong>Current Price</strong></td>
      <td><strong>Purchase Price</strong></td>
      <td><strong>Overall Return</strong></td>

    </tr>
    <% @stocks.each do |stock| %>
      <tr>

        <td><a href='/stocks/<%=stock.id%>'><%=stock.name%></a></td>
        <td><%= stock.ticker %></td>
        <td><%= stock.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<h2><a href="./stocks/new">Add a stock to current portfolio</a></h2>

<form action='/stocks/new' method='POST'>
<p>
    <label for ='name'>Stock Ticker</label>
    <input type='text' name='name' id='name'><br>

</p>
<p>
    <label for ='name'></label>
    <input type='text' name='name' id='name'><br>
</p>

    <input type = 'submit' value='Add Stock'/>
</form>